@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 242, 241;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 242, 241;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--background-start-rgb));
	background: rgb(var(--foreground-rgb));
}

@layer components {
	.button--default {
		@apply bg-[#F5DCD5] hover:bg-[#e7cec8] tracking-widest;
	}
}
